.conversion {   margin: 0 0px 100px 181px;}
.conversion_line {   margin: 0 0px 0 181px;}
.techno_addNew, #dataTable	 {    margin-bottom: 10px; }
div.sucess_msg>b{color:green}
div.empty_msg>b{color:red}